# Configurações de Identidade Sarak Lib
# v6.8 - Soberania Atômica

# Porta do Servidor (se rodando localmente)
PORT=8001

# URL Base da API (padrão v1)
API_V1_STR=/api/v1

# Segredos e Segurança (NUNCA COMMITE O .env REAL)
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200 # 30 dias

# Configurações de Banco de Dados (Soberano)
DATABASE_URL=postgresql://user:pass@localhost:5432/sarak_auth_identity
