sqlalchemy
psycopg2-binary
python-jose[cryptography]
pydantic[email]
pydantic-settings
python-dotenv
fastapi
passlib[bcrypt]
bcrypt
email-validator
slowapi
pyotp
qrcode
httpx-oauth
httpx
casbin
casbin-sqlalchemy-adapter
alembic
